*{
    font-size: 200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    

}

h1{
    text-align: center;

}
h2{
    text-align: center;
    margin-top: 50px;
    
}
button{
    font-size: 50px;
    padding: 10px;
}
button:hover {
    background-color: red;
}
div{
    display: flex;
    justify-content: center;
    gap: 10px;
}
body {
    background-image: -moz-element();
    border: 600px;

}
